<div class="container-header">
    <div class="container-one">
        <app-logo [widthImg]="100"></app-logo>
        <div class="container-one-child"> 
            <h4 class="md-display-1">Sign up with my Amazon account</h4>
            <form class="form" >
                <div class="form-group">
                  <label for="exampleInputEmail1">Full name:</label>
                  <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address:</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password:</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" >
                  <small id="emailHelp" class="form-text text-muted">.</small>
                </div>
              </form>
              <button type="button" class="btn btn-warning margin-right: 1rem">Sign In</button>
              <div class="container-two-child">
                  <div class="form-group col-md-6">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                    </div>
                  </div>
                  <div class="form-group col-md-6"> 
                    <section class="example-section"> 
                    <a href="http://www.google.com"  >Forgot Password</a>
                    </section>
                  </div>
              </div>
          </div>
      </div>
      <div class="container-two">
          <app-hero class="hero-imagen"></app-hero>
            <div class="d-flex flex-row-reverse">
                <div class="p-2 bd-highlight"> 
                  <a class="link" href="http://www.google.com">Try our trading tools</a>
                </div>
                <div class="p-2 bd-highlight"> 
                  <a class="link" href="http://www.google.com" >Bitcoin CFDs </a>
                </div>
              </div>
              <div class="container-two-two-children">
                  <h1>Buy or sellBitcoin CFDs  easily with libertex</h1>
              </div>
              <div class="container-two-three-children">
                <div class="con-two-three-one-child">
                  <P>Operate with Libertex the first secure and decentralized cryptocurrency asset based on blockchain.</P>
                </div>
                <div class="con-two-three-two-child">
                  <p>There is no minimum amount to invest in cryptocurrencies. However, some exchanges like Binance have a minimum transaction of $10. Other platforms, such as Coinbase, offer an even lower minimum of $2.</p>
                </div>
              </div>
        </div>
  </div>
  